{% extends 'base.html'%}
{% load static %}
{% block container %}
<div class="row">
    <div class="col">
        <h1 class="mt-4 mb-4">Facilito Store</h1>
        <ul class="list-group">
            {% for producto in products %}
            <li class="list-group-item">{{producto.title}}
                {% if producto.stock %}
                    <span class="text-success">Disponible</span>
                {% else %}
                    <span class="text-danger">No disponible</span>
                {% endif %}
            </li>

            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
