{% extends 'base.html' %}
{% block container %}
    <div class="row mt-3">
        <div class="col-3">
            <img src="{{product.image.url}}" alt="" width="200px" height="200px">
        </div>
        <div class="col">
            <h1>{{product.title}}</h1>
            <h5 class="font-weight-bold">
                Precio: <span class="text-danger">${{product.price}}</span>
            </h5>
            <div>
                <p>{{product.description}}</p>
            </div>
        </div>
    </div>
{% endblock %}  